body.dark-theme {
    a {
        color: #fff;
    }

    .search-data {
        &__row {
            color: #fff;

            &:hover {
                background-color: #2b2b31;
            }
        }

        &__text {
            color: #fff;
            // &_description {
            //     color: #fff;
            // }

            &_exclamation {
                background-color: $darkBlueColor;
            }
        }

        &__icon {
            fill: #fff;

            &:hover {
                fill: $redColor;
            }
        }
    }

    .cart__cover {
        background-color: $darkBlueColor;
    }
}

.main {
    position: relative;
}

.cart {
    &._empty {
        .cart__discount {
            display: none;
        }

        .cart__total {
            display: none;
        }

        .cart__form {
            display: none;
        }

        .cart__empty-warning {
            display: block;
        }
    }

    // .cart__body

    &__body {
        width: 100vw;
        max-width: $maxContainerWidth;
        margin: 0px auto;
        padding: 40px 30px;

        @media screen and (max-width: 1230px) {
            padding: calc(15px + 25 * (100vw - 720px) / (1230 - 720)) calc(10px + 20 * (100vw - 720px) / (1230 - 720));
        }

        @media screen and (max-width: 720px) {
            padding: 15px 10px;
        }
    }

    // .cart__title

    &__title {
        margin-bottom: 20px;
        padding: 0px 10px;

        @media screen and (max-width: 1230px) {
            margin-bottom: calc(10px + 10 * (100vw - 320px) / (1230 - 320));
        }
    }

    // .cart__empty-warning

    &__empty-warning {
        display: none;
        padding: 0px 10px;
    }

    // .cart__text

    &__text {
        display: block;
        margin-bottom: 30px;

        @media screen and (max-width: 1230px) {
            margin-bottom: calc(15px + 15 * (100vw - 320px) / (1230 - 320));
        }
    }

    // .cart__link

    &__link {
    }

    // .cart__data

    &__data {
    }

    //.cart__discount

    &__discount {
        display: flex;
        justify-content: end;
        padding: 15px 10px 0px 10px;
    }

    // .cart__total

    &__total {
        
    }

    //.cart__warning

    &__price-warning {
        padding: 0px 10px 15px 10px;
        margin-bottom: 15px;
    }

    &__warning-title {
        color: $redColor;
        font-size: 22px;
        font-weight: 600;
        margin-bottom: 5px;

        @media screen and (max-width: 1230px) {
            font-size: calc(16px + 6 * (100vw - 320px) / (1230 - 320));
        }
    }

    &__warning-text{
        color: $redColor;
    }

    // .cart__form

    &__form {
    }

    // .cart__cover

    &__cover {
        position: absolute;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100%;
        background-color: rgb(236, 236, 236);
        display: flex;
        align-items: center;
        justify-content: center;
    }

    // .cart__cover-gif

    &__cover-gif {
        height: 80px;
        width: 80px;
    }
}

.search-data {
    font-size: 16px;

    @media screen and (max-width: 900px) {
        font-size: 15px;
    }

    @media screen and (max-width: 600px) {
        font-size: 14px;
    }

    // .search-data__row

    &__row {
        display: grid;
        grid-template-columns: 1fr auto auto auto;
        grid-template-areas:
            "BRAND PRICE QUANTITY DELETE"
            "DESCRIPTION PRICE QUANTITY DELETE";
        padding: 7px 10px;
        border-top: 1px solid $greyColor;
        color: $mainFontColor;

        @media screen and (max-width: 600px) {
            grid-template-columns: 1fr auto;
            grid-template-areas:
                "BRAND QUANTITY"
                "DESCRIPTION DESCRIPTION"
                "PRICE DELETE";
        }

        &:last-child {
            border-bottom: 1px solid $greyColor;
        }

        &._delete {
            grid-template-columns: auto auto 1fr;
            grid-template-areas:
                "TITLE TITLE TITLE"
                "DELETE CANCEL .";

            .search-data {
                &__delete-title {
                    display: block;
                    margin: 5px 0px 10px 0px;
                    font-size: 18px;
                    font-weight: 600;
                    grid-area: TITLE;
                }

                &__delete-button {
                    display: flex;
                    align-items: center;
                    grid-area: DELETE;
                    margin-right: 25px;

                    &:hover {
                        color: rgb(214, 126, 25);

                        .search-data__icon_delete {
                            fill: rgb(214, 126, 25);
                        }
                    }
                }

                &__cancel-button {
                    display: flex;
                    align-items: center;
                    grid-area: CANCEL;

                    &:hover {
                        color: rgb(214, 126, 25);

                        .search-data__icon_cancel {
                            fill: rgb(214, 126, 25);
                        }
                    }
                }

                &__text {
                    font-size: 16px;
                    margin-right: 10px;
                }

                &__icon_delete {
                    height: 22px;
                    width: 22px;
                }

                &__icon_cancel {
                    position: relative;
                    top: -1px;
                    height: 19px;
                    width: 19px;
                }

                &__block {
                    display: none;
                }

                &__button_delete {
                    display: none;
                }
            }
        }

        &:hover {
            background-color: rgb(231, 231, 231);
        }
    }

    // .search-data__block

    &__block {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        // .search-data__block_brand

        &_brand {
            grid-area: BRAND;
            min-width: 75px;
        }

        // .search-data__block_description

        &_description {
            grid-area: DESCRIPTION;
        }

        // .search-data__block_price

        &_price {
            grid-area: PRICE;

            @media screen and (max-width: 600px) {
                justify-content: end;
                align-items: start;
            }
        }

        // .search-data__block_quantity

        &_quantity {
            position: relative;
            flex-direction: row;
            text-align: center;
            grid-area: QUANTITY;
            padding: 0px 30px 0px 10px;

            &._active-exclamation {
                &:hover {
                    .search-data__text_exclamation {
                        visibility: visible;
                        opacity: 1;
                    }
                }
                .search-data__icon_exclamation {
                    opacity: 1;
                    visibility: visible;
                }
            }
        }
    }

    // .search-data__text

    &__text {
        font-size: 16px;
        @media screen and (max-width: 1230px) {
            font-size: 16px;
        }

        @media screen and (max-width: 900px) {
            font-size: 15px;
        }

        @media screen and (max-width: 600px) {
            font-size: 14px;
        }

        // .search-data__text_brand

        &_brand {
            align-self: start;
            font-weight: 500;
        }

        // .search-data__text_description

        &_description {
            color: $mainFontColor;
            padding-top: 15px;
            align-self: start;
            font-size: 15px;

            @media screen and (max-width: 1230px) {
                font-size: 15px;
            }

            @media screen and (max-width: 900px) {
                font-size: 14px;
            }

            @media screen and (max-width: 600px) {
                font-size: 13px;
            }
        }

        // .search-data__text_price

        &_price {
            padding: 0px 10px;
            font-size: 18px;
            font-weight: 500;
            @media screen and (max-width: 1230px) {
                font-size: 17px;
            }

            @media screen and (max-width: 900px) {
                font-size: 16px;
            }

            @media screen and (max-width: 600px) {
                padding: 15px 0 0 0;
                font-size: 16px;
            }
        }

        // .search-data__text_quantity

        &_quantity {
            font-weight: 500;
        }

        // .search-data__text_exclamation

        &_exclamation {
            z-index: 5;
            position: absolute;
            top: 80%;
            right: 5px;
            width: 270px;
            opacity: 0;
            visibility: hidden;
            background-color: #fff;
            padding: 5px 10px;
            border: 1px solid $greyColor;
            border-radius: 5px;

            @media screen and(max-width: 600px) {
                width: 200px;
                top: 110%;
            }
        }
    }

    //.search-data__button

    &__button {
        height: 22px;
        width: 22px;
        display: flex;
        align-items: center;
        justify-content: center;

        @media screen and (max-width: 900px) {
            height: 17px;
            width: 17px;
            font-size: 17px;
        }

        //.search-data__button_plus

        &_plus {
            font-size: 22px;
            font-weight: 500;
            padding-bottom: 1px;
            background-color: #fff;
            color: $greyColor;
            border: 2px solid rgb(117, 117, 117);
            margin-left: 7px;

            &:hover {
                color: rgb(214, 126, 25);
                border: 2px solid rgb(214, 126, 25);
            }
        }

        //.search-data__button_minus

        &_minus {
            font-size: 22px;
            font-weight: 500;
            padding-bottom: 1px;
            background-color: #fff;
            color: $greyColor;
            border: 2px solid rgb(117, 117, 117);
            margin-right: 7px;

            &:hover {
                color: rgb(214, 126, 25);
                border: 2px solid rgb(214, 126, 25);
            }
        }

        //.search-data__button_delete

        &_delete {
            grid-area: DELETE;
            height: 30px;
            width: 30px;
            margin: 0px 5px 0px 50px;
            justify-self: end;
            align-self: center;

            @media screen and (max-width: 900px) {
                height: 25px;
                width: 25px;
                margin-left: 30px;
                margin-right: 0;
            }

            @media screen and (max-width: 600px) {
                height: 20px;
                width: 20px;
                margin: 0px 0px 5px 0px;
                margin-left: 15px;
                align-self: end;
            }
        }
    }

    //.search-data__icon

    &__icon {
        //.search-data__icon_exclamation

        &_exclamation {
            display: block;
            position: absolute;
            right: 0px;
            height: 22px;
            width: 22px;
            fill: $redColor;
            opacity: 0;
            visibility: hidden;

            @media screen and (max-width: 900px) {
                height: 17px;
                width: 17px;
            }
        }

        //.search-data__icon_delete

        &_delete {
            height: 25px;
            width: 25px;
            fill: $mainFontColor;

            @media screen and (max-width: 900px) {
                height: 20px;
                width: 20px;
            }

            &:hover {
                fill: rgb(214, 126, 25);
            }
        }
    }

    &__delete-title {
        display: none;
    }

    &__delete-button {
        display: none;
    }

    &__cancel-button {
        display: none;
    }
}

.total {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 10px;
    margin-bottom: 15px;
    font-size: 22px;

    @media screen and (max-width: 1230px) {
        font-size: calc(16px + 6 * (100vw - 320px) / (1230 - 320));
    }

    // .total__title

    &__title {
        font-weight: 600;
    }

    // .total__total-price

    &__total-price {
        font-weight: 500;
    }

    // .total__price-old

    &__price-old {
        display: inline-block;
        margin-right: 10px;
        text-decoration: line-through;

        @media screen and (max-width: 1230px) {
            margin-right: calc(5px + 5 * (100vw - 320px) / (1230 - 320));
        }
    }

    // .total__price-new

    &__price-new {
    }
}

.form-cart {
    padding: 0px 10px;

    // .form-cart__input

    &__input {
        // width: 40%;
        padding: 10px 20px;
        margin-top: 15px;
        border: 1px solid #5f5f5f;
        border-radius: 5px;
        font-size: 16px;

        @media screen and (max-width: 900px) {
            // width: 60%;
        }

        @media screen and (max-width: 600px) {
            // width: 80%;
            font-size: 14px;
            padding: 8px 15px;
        }

        // .form-cart__input_hidden

        &_hidden {
            width: 100%;
            position: absolute;
            top: -5000px;
            left: -5000px;
            opacity: 0;
            visibility: hidden;
        }
    }

    // .form-cart__title

    &__title {
        font-size: 22px;
        font-weight: 600;
        margin-right: 10px;

        @media screen and (max-width: 1230px) {
            font-size: calc(16px + 6 * (100vw - 320px) / (1230 - 320));
        }
    }

    // .form-cart__input-group

    &__input-group {
        display: flex;
        flex-direction: column;
    }

    // .form-cart__submit-button

    &__submit-button {
        width: 180px;
        margin-top: 15px;
        position: relative;
        left: calc(100% - 180px);
        font-size: 16px;

        @media screen and (max-width: 600px) {
            width: 145px;
            left: calc(100% - 145px);
            font-size: 14px;
        }
    }
}
