body.dark-theme {
    .bestsellers {
        background-color: #2d3449;

        &__title {
            background-color: $redColor;
            padding: 10px 0px;
        }

        &__body {
            padding: 40px;

            @media screen and (max-width: 1230px) {
                padding: calc(20px + 20 * (100vw - 320px) / (1230 - 320)) 40px;
            }
        }
    }

    .product {
        &__info {
            color: #fff;

            &::before {
                background-color: $greyColor;
            }
        }
    }

    .controls-bestsellers__icon {
        stroke: #fff;
    }
}

.bestsellers {
    width: calc(100vw - 30px);
    max-width: calc($maxContainerWidth - 30px);
    margin: 45px auto;
    background-color: $yellowColor;

    @media screen and (max-width: 1230px) {
        margin: calc(20px + 25 * (100vw - 320px) / (1230 - 320)) auto;
    }

    // .bestsellers__title

    &__title {
        padding: 22px 0px;
        text-align: center;
        color: $redColor;

        @media screen and (max-width: 900px) {
            padding: calc(11px + 11 * (100vw - 320px) / (900 - 320)) 0px;
        }
    }

    // .bestsellers__body

    &__body {
        margin: 0 20px;
        position: relative;
        padding: 15px 40px 40px 40px;
        @media screen and (max-width: 1230px) {
            padding: 15px 40px calc(20px + 20 * (100vw - 320px) / (1230 - 320)) 40px;
        }

        @media screen and (max-width: 900px) {
            padding: calc(5px + 10 * (100vw - 320px) / (900 - 320)) 40px calc(20px + 20 * (100vw - 320px) / (1230 - 320)) 40px;
        }
    }

    // .bestsellers__wrapper

    &__wrapper {
        margin: 0 auto;
    }

    // .bestsellers__item

    &__item {
    }

    // .bestsellers__controls

    &__controls {
        position: absolute;
        top: 15px;
        left: 0px;
    }
}
.product {
    display: flex;
    flex-direction: column;
    align-items: center;
    // .product__image

    &__image {
        width: 100%;
        max-width: 300px;
    }

    // .product__info

    &__info {
        position: relative;
        height: 100%;
        width: 100%;
        max-width: 300px;
        padding-top: 35px;
        display: flex;
        flex-direction: column;
        color: $mainFontColor;

        &::before {
            content: "";
            position: absolute;
            top: 20px;
            left: 0px;
            width: 100%;
            height: 1px;
            background-color: rgba($color: #000000, $alpha: 0.2);
        }
    }

    // .product__price

    &__price {
        font-size: 18px;
        font-weight: 500;
        margin-bottom: 10px;

        @media screen and(max-width: 1230px) {
            font-size: calc(15px + 3 * (100vw - 320px) / (1230 - 320));
        }
    }

    // .product__name

    &__name {
        @media screen and(max-width: 1230px) {
            font-size: calc(14px + 2 * (100vw - 320px) / (1230 - 320));
        }
    }
}
.controls-bestsellers {
    width: 100%;
    height: calc(100% - 30px);
    display: flex;
    justify-content: space-between;
    align-items: center;

    // .controls-bestsellers__button

    &__button {
        padding: 15px 0px;
        cursor: pointer;
        z-index: 10;

        &:hover {
            .controls-bestsellers__icon {
                stroke: $redColor;
            }
        }

        // .controls-bestsellers__button_next

        &_next {
            padding-right: 15px;
        }

        // .controls-bestsellers__button_prev

        &_prev {
            padding-left: 15px;
        }
    }

    // .controls-bestsellers__icon

    &__icon {
        fill: none;
        stroke: $mainFontColor;
        height: 45px;
        width: 20px;
        transition: all 0.4s ease 0s;

        @media screen and (max-width: 1230px) {
            width: calc(10px + 10 * (100vw - 320px) / (1230 - 320));
            height: calc(23px + 22 * (100vw - 320px) / (1230 - 320));
        }
    }
}
