body.dark-theme {
    .search-data__row {
        color: #fff;

        &:hover {
            background-color: #2b2b31;
        }
    }

    .search-result__cover {
        background-color: $darkBlueColor;
    }
}

.main {
    position: relative;
}

.search-result {
    &._active {
        .search-result__success {
            display: block;
        }

        .search-result__fail {
            display: none;
        }
    }

    // .search-result__body

    &__body {
        width: 100vw;
        max-width: $maxContainerWidth;
        margin: 0px auto;
        padding: 40px 30px;

        @media screen and (max-width: 1230px) {
            padding: calc(15px + 25 * (100vw - 720px) / (1230 - 720)) calc(10px + 20 * (100vw - 720px) / (1230 - 720));
        }

        @media screen and (max-width: 720px) {
            padding: 15px 10px;
        }
    }

    //.search-result__success

    &__success {
        display: none;
    }

    //.search-result__text

    &__text {
        display: block;
        padding: 0px 10px;
        margin-bottom: 10px;
    }

    // .search-result__title

    &__title {
        margin-bottom: 20px;
        padding: 0px 10px;

        @media screen and (max-width: 1230px) {
            margin-bottom: calc(10px + 10 * (100vw - 320px) / (1230 - 320));
        }
    }

    //.search-result__subtitle

    &__subtitle {
        display: none;
        font-size: 30px;
        font-weight: 600;
        line-height: 135%;
        padding: 0px 10px;
        margin-bottom: 10px;

        @media screen and (max-width: 1230px) {
            font-size: calc(18px + 12 * (100vw - 320px) / (1230 - 320));
        }

        &._active {
            display: block;
        }
    }

    // .search-result__data

    &__data {
        margin-bottom: 50px;

        @media screen and (max-width: 1230px) {
            margin-bottom: calc(25px + 25 * (100vw - 320px) / (1230 - 320));
        }
    }

    // .search-result__fail

    &__fail {
    }

    // .search-result__cover

    &__cover {
        position: absolute;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100%;
        background-color: rgb(236, 236, 236);
        display: flex;
        align-items: center;
        justify-content: center;
    }

    // .search-result__cover-gif

    &__cover-gif {
        height: 80px;
        width: 80px;
    }
}

.search-data {
    @media screen and (max-width: 1230px) {
        font-size: calc(14px + 2 * (100vw - 900px) / (1230 - 900));
    }

    @media screen and (max-width: 900px) {
        font-size: 14px;
    }

    @media screen and (max-width: 600px) {
        font-size: 12px;
    }

    // .search-data__row

    &__row {
        display: grid;
        grid-template-columns: 1fr 160px 90px 150px; //90
        grid-template-areas:
            "BRAND ARTICLE PRICE QUANTITY"
            "DESCRIPTION ARTICLE PRICE QUANTITY"
            "DESCRIPTION    .    BUTTON BUTTON";
        padding: 7px 10px;
        border-top: 1px solid $greyColor;
        color: $mainFontColor;

        @media screen and (max-width: 1230px) {
            grid-template-columns: 1fr calc(120px + 40 * (100vw - 900px) / (1230 - 900)) 80px 140px;
        }

        @media screen and (max-width: 900px) {
            grid-template-columns: 1fr calc(90px + 30 * (100vw - 320px) / (900 - 320)) calc(50px + 30 * (100vw - 320px) / (900 - 320)) 120px;
        }

        @media screen and (max-width: 600px) {
            grid-template-columns: 2fr 2fr 1fr 1fr;
            grid-template-areas:
                "BRAND ARTICLE PRICE QUANTITY"
                "DESCRIPTION DESCRIPTION DESCRIPTION DESCRIPTION"
                "BUTTON BUTTON BUTTON BUTTON";
        }

        &:hover {
            background-color: rgb(231, 231, 231);
        }

        // .search-data__row_header

        &_header {
            border: none;
            margin-bottom: 5px;

            &:hover {
                background-color: rgba(255, 255, 255, 0) !important;
            }
        }
    }

    // .search-data__block

    &__block {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        // .search-data__block_brand

        &_brand {
            grid-area: BRAND;
        }

        // .search-data__block_description

        &_description {
            grid-area: DESCRIPTION;
        }

        // .search-data__block_article-number

        &_article-number {
            grid-area: ARTICLE;
        }

        // .search-data__block_price

        &_price {
            grid-area: PRICE;
        }

        // .search-data__block_quantity

        &_quantity {
            text-align: center;
            grid-area: QUANTITY;
        }
    }

    // .search-data__title

    &__title {
        font-size: 19px;
        font-weight: 500;

        @media screen and (max-width: 1230px) {
            font-size: calc(17px + 2 * (100vw - 900px) / (1230 - 900));
        }

        @media screen and (max-width: 900px) {
            font-size: 15px;
        }

        @media screen and (max-width: 600px) {
            font-size: 12px;
        }

        &_brand {
            align-self: start;
        }
    }

    // .search-data__text

    &__text {
        // .search-data__text_brand

        &_brand {
            align-self: start;
            font-size: 17px;
            font-weight: 500;

            @media screen and (max-width: 1230px) {
                font-size: calc(15px + 2 * (100vw - 900px) / (1230 - 900));
            }

            @media screen and (max-width: 900px) {
                font-size: 15px;
            }
        }

        // .search-data__text_description

        &_description {
            padding-top: 15px;
            align-self: start;
        }

        // .search-data__text_article-number

        &_article-number {
        }

        // .search-data__text_price

        &_price {
            padding: 0px 10px;
        }

        // .search-data__text_quantity

        &_quantity {
        }
    }

    //.search-data__button

    &__button {
        width: 140px;
        margin-top: 20px;
        padding: 7px 10px;
        justify-self: end;
        grid-area: BUTTON;

        @media screen and (max-width: 900px) {
            width: 120px;
        }
        @media screen and (max-width: 600px) {
            margin-top: 10px;
            padding: 7px 6px;
            width: 100px;
        }
    }

    //.search-data__button-text

    &__button-text {
        font-size: 16px;
        @media screen and (max-width: 1230px) {
            font-size: 16px;
        }

        @media screen and (max-width: 900px) {
            font-size: 14px;
        }
        @media screen and (max-width: 600px) {
            font-size: 12px;
        }
    }
}

.fail-search {
    // .fail-search__title

    &__title {
        font-size: 22px;
        line-height: 150%;

        @media screen and (max-width: 1230px) {
            font-size: calc(17px + 5 * (100vw - 320px) / (1230 - 320));
        }
    }

    // .fail-search__block

    &__block {
        margin: 25px 0px;
        display: flex;
        align-items: center;

        @media screen and (max-width: 1230px) {
            margin: calc(10px + 15 * (100vw - 320px) / (1230 - 320)) 0px;
        }
    }

    // .fail-search__text

    &__text {
        flex: 1 1 auto;
        min-width: 135px;
        font-size: 20px;

        @media screen and (max-width: 1230px) {
            font-size: calc(15px + 5 * (100vw - 320px) / (1230 - 320));
        }
    }

    // .fail-search__link

    &__link {
        flex: 0 0 210px;
        margin: 0 15px;

        @media screen and (max-width: 720px) {
            flex: 0 0 125px;
            margin: 0 calc(10px + 5 * (100vw - 320px) / (720 - 320));
        }
    }
}

#search-result-product {
    display: none;

    &._active {
        display: block;
    }
}

#search-result-analogs {
    display: none;

    &._active {
        display: block;
    }
}

#search-result-complects {
    display: none;

    &._active {
        display: block;
    }
}
