body.dark-theme {
    background-color: #30384f;
    color: #fff;

    .title {
        color: #fff;
    }

    h3 {
        color: #fff !important;
    }

    ::selection {
        color: $greyColor;
        background-color: #f0f0f0;
    }
}
