body.dark-theme {
    background-color: #30384f;
    color: #fff;

    .title {
        color: #fff;
    }

    h3 {
        color: #fff !important;
    }

    .header {
        &._scroll {
            .header__container {
                background-color: rgba($color: #2d3449, $alpha: 0.92);

                &:hover {
                    background-color: #2d3449;
                }
            }
        }

        &__container {
            background-color: #2d3449;
        }

        &__contacts {
            color: #fff;
        }
    }

    .logo__text {
        color: #fff;
    }

    .search-header {
        @media screen and (max-width: 720px) {
            &__icon {
                fill: #fff;

                &_close {
                    fill: $greyColor;
                }
            }

            &__burger {
                &._active {
                    &::before,
                    &::after,
                    & span {
                        background-color: $redColor;
                    }
                }

                &::before,
                &::after,
                & span {
                    background-color: #fff;
                }
            }

            &__dropdown {
                background-color: #2b2b31;
                color: #fff;
            }
        }
    }

    .dropdown-menu {
        &__icon {
            fill: #fff;
        }

        &__list {
            background-color: #2b2b31;
        }

        &__sublist {
            background-color: #2b2b31;
        }

        &__item {
            &._hover {
                background-color: $redColor;
            }
        }

        &__link {
            color: #fff !important;
        }
    }

    //slider

    .page-slider-main__content {
        @media screen and (max-width: 600px) {
            background-color: rgba($color: #2b2b31, $alpha: 0.5);
        }
    }

    .controls-slider-main__icon {
        stroke: #fff;
    }

    //advantages

    .advantages {
        background-color: $darkBlueColor;

        &__icon {
            fill: #fff;
        }

        &__content {
            color: #fff;
        }
    }

    //popular

    .popular {
        &__title {
            background-color: $redColor;
        }

        &__body::after {
            background-color: $redColor;
        }
    }

    .category {
        &__image {
            opacity: 1;
        }

        &__description {
            color: #fff;
        }

        &:hover {
            background-color: #3b446180;
            box-shadow: 15px 15px 30px rgba($color: #191c2780, $alpha: 0.4);
        }
    }

    //bestsellers

    .bestsellers {
        background-color: $darkBlueColor;
    }

    .product {
        &__info {
            color: #fff;
        }
    }

    .controls-bestsellers__icon {
        stroke: #fff;
    }

    //vin-request

    .vin-request-proposal__text {
        color: #fff;
    }

    .form-vin-request__input {
        background-color: #222224;
        color: #fff;
    }

    //search-results

    .search-data__row:hover {
        background-color: #2b2b31;
    }

    //footer

    footer {
        background-color: #2b2b31; //#242429;
        color: #fff;

        & a {
            color: #fff;
        }
    }

    .contacts-footer__icon {
        fill: #fff;
    }
}
