@font-face {
    font-family: "Algerius";
    font-style: normal;
    font-weight: normal;
    src: local("a_algerius"), url(../fonts/a_algerius.woff2), url(../fonts/a_algerius.woff), url(../fonts/a_algerius.ttf);
}

// @font-face{
//     font-family: 'Gilroy';
//     font-style: normal;
//     font-weight: 400;
//     src: local('Gilroy'),
//         url(../fonts/gilroy-regular.woff2),
//         url(../fonts/gilroy-regular.woff),
//         url(../fonts/gilroy-regular.ttf);
// }
