* {
    scrollbar-width: thin;
    scrollbar-color: rgb(211, 211, 211) rgb(231, 231, 231);
}

// /* для Chrome/Edge/Safari */
*::-webkit-scrollbar {
    height: 12px;
    width: 12px;
}
*::-webkit-scrollbar-track {
    background: rgb(231, 231, 231);
}
*::-webkit-scrollbar-thumb {
    background-color: rgb(211, 211, 211);
    border-radius: 5px;
    border: 3px solid rgbrgb(231, 231, 231);
}

::selection {
    color: #555555;
    background-color: #f8d5bb;
}

body {
    color: $mainFontColor;
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    line-height: 125%;
}

//

.title {
    font-size: 40px;
    font-weight: 700;
    line-height: 120%;

    @media screen and (max-width: 1230px) {
        font-size: calc(20px + 20 * (100vw - 320px) / (1230 - 320));
    }
}
