.header {
    height: 250px;

    @media screen and (max-width: 720px) {
        height: 75px;
    }

    @media screen and (max-width: 480px) {
        height: 10px;
    }

    &._scroll {
        .header {
            &__container {
                position: fixed;
                background-color: rgba($color: #ffc328, $alpha: 0.7);

                &:hover {
                    background-color: $yellowColor;
                }
            }

            &__body {
                grid-template-columns: auto 1fr;
                padding: 10px 15px;
                justify-items: normal;
                align-items: center;

                @media screen and (max-width: 720px) {
                    padding: calc(5px + 10 * (100vw - 320px) / (720 - 320));
                }
            }

            &__contacts {
                display: none;
            }
        }

        .logo {
            margin: 5px 0px;

            &__icon {
                height: 60px;
                width: 30px;
            }

            &__text {
                font-size: 30px;
                margin: 10px 0px 0px 10px;

                @media screen and (max-width: 720px) {
                    font-size: calc(20px + 5 * (100vw - 320px) / (720 - 320));
                    margin: 0px 0px 0px calc(10px + 10 * (100vw - 320px) / (720 - 320));
                }
            }
        }

        .search-header {
            grid-template-areas: "SEARCH BURGER";
            grid-template-columns: 1fr 60px;

            &__burger {
                margin-left: 10px;

                @media screen and (max-width: 480px) {
                    margin: 0;
                }
            }

            &__button {
                &_search {
                    @media screen and (min-width: 721px) and (max-width: 1350px) {
                        flex: 0 0 calc(85px + 115 * (100vw - 720px) / (1350 - 720));
                    }
                }
            }

            &__item {
                justify-self: center;

                @media screen and (min-width: 721px) and (max-width: 1350px) {
                    width: calc(320px + 480 * (100vw - 720px) / (1350 - 720));
                }
            }

            &__input {
                @media screen and (max-width: 1350px) {
                    flex: 1 1 auto;
                }
            }

            &__dropdown {
                right: 0;
            }
        }

        .catalog {
            &__sublist {
                left: initial;
                right: 250px;
                // &_level-1 {
                //     right: 250px;
                // }

                // &_level-2 {
                //     right: 250px;
                // }
            }
        }
    }

    // .header__container

    &__container {
        position: relative;
        z-index: 20;
        background-color: $yellowColor;
        width: 100vw;
    }

    // .header__contacts

    &__contacts {
        position: absolute;
        padding: 15px 32px 0px 20px;
        width: 100vw;
        color: $greyColor;

        display: flex;
        justify-content: space-between;

        @media screen and (max-width: 720px) {
            display: none;
        }
    }

    // .header__body

    &__body {
        padding: 48px 15px;
        display: grid;
        justify-content: center;
        justify-items: center;

        @media screen and (max-width: 720px) {
            grid-template-columns: 1fr 80px;
            justify-items: start;
            align-items: center;
            padding: calc(5px + 10 * (100vw - 320px) / (720 - 320));
        }
    }

    // .header__logo

    &__logo {
    }

    // .header__search

    &__search {
    }
}

.contacts-header {
    font-size: 14px;
    // .contacts-header__adress

    &__adress {
    }

    // .contacts-header__phone-numbers

    &__phone-numbers {
        display: flex;
        flex-direction: column;
    }

    // .contacts-header__phone-number

    &__phone-number {
    }
}

.logo {
    display: flex;
    align-items: center;
    margin: 15px 0 20px 0;

    @media screen and (max-width: 720px) {
        margin: 0 0 0 calc(0px + 20 * (100vw - 320px) / (720 - 320));
    }

    @media screen and (max-width: 480px) {
        margin: 0;
    }

    // .logo__icon

    &__icon {
        height: 160px;
        width: 80px;
        fill: $redColor;

        @media screen and (max-width: 1230px) {
            height: calc(80px + 80 * (100vw - 320px) / (1230 - 320));
            width: calc(40px + 40 * (100vw - 320px) / (1230 - 320));
        }

        @media screen and (max-width: 720px) {
            height: calc(70px + 30 * (100vw - 320px) / (720 - 320));
            width: calc(35px + 15 * (100vw - 320px) / (720 - 320));
        }

        @media screen and (max-width: 480px) {
            display: none;
        }
    }

    // .logo__text

    &__text {
        margin: 45px 0px 0px 25px;
        font-family: "Algerius", "arial";
        font-size: 55px;
        color: $redColor;

        @media screen and (max-width: 1230px) {
            font-size: calc(25px + 30 * (100vw - 320px) / (1230 - 320));
        }

        @media screen and (max-width: 720px) {
            font-size: calc(20px + 5 * (100vw - 320px) / (720 - 320));
            margin: 0px 0px 0px calc(10px + 10 * (100vw - 320px) / (720 - 320));
        }

        // @media screen and (max-width: 480px) {
        //     display: none;
        // }
    }
}

.search-header {
    position: relative;
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    grid-template-areas: "BURGER SEARCH";

    @media screen and (max-width: 720px) {
        grid-template-areas: "SEARCH BURGER";
        height: 35px;
        width: 80px;
        justify-self: end;
    }

    @media screen and (max-width: 480px) {
        width: 70px;
    }

    // .search-header__burger

    &__burger {
        grid-area: BURGER;
        height: 50px;
        width: 50px;
        border-radius: 5px;
        background-color: #fff;
        transition: all 0.4s ease 0s;

        @media screen and (max-width: 720px) {
            height: 35px;
            width: 35px;
            margin-left: 10px;
            background-color: unset;
        }

        @media screen and (max-width: 480px) {
            margin: 0;
        }

        &::before,
        &::after {
            width: 24px;
            height: 4px;
            background-color: $redColor;

            @media screen and (max-width: 720px) {
                height: 3px;
                width: 19px;
            }
        }

        &::before {
            top: 15px;
            left: 13px;

            @media screen and (max-width: 720px) {
                left: 8px;
                top: 8px;
            }
        }

        &::after {
            bottom: 15px;
            left: 13px;

            @media screen and (max-width: 720px) {
                left: 8px;
                bottom: 8px;
            }
        }

        &._active {
            background-color: #fdfdfd;
            border-radius: 5px 5px 0 0;

            & ~ .catalog {
                transform: rotateX(0) translateY(0);
                opacity: 1;
                visibility: visible;
            }
        }

        & span {
            position: absolute;
            width: 24px;
            height: 4px;
            left: 13px;
            top: 23px;
            background-color: $redColor;

            @media screen and (max-width: 720px) {
                width: 19px;
                height: 3px;
                left: 8px;
                top: 16px;
            }
        }
    }

    // .search-header__button

    &__button {
        // .search-header__button_search

        &_search {
            height: 50px;
            border-radius: 0px 10px 10px 0px;
            flex: 0 0 200px;

            @media screen and (max-width: 1230px) {
                flex: 0 0 calc(100px + 100 * (100vw - 320px) / (1230 - 320));
            }

            @media screen and (max-width: 720px) {
                flex: 0 0 calc(55px + 25 * (100vw - 320px) / (720 - 320));
                height: 40px;

                &__text {
                    font-size: calc(14px + 2 * (100vw - 320px) / (720 - 320));
                }
            }
        }
        // .search-header__button_lowres

        &_lowres {
            display: none;

            @media screen and (max-width: 720px) {
                display: block;
                height: 35px;
                width: 35px;
                display: flex;
                align-items: center;
                justify-content: center;
                grid-area: SEARCH;
                opacity: 1;
                visibility: visible;
                transition: all 0.4s ease 0s;

                &._active {
                    background-color: #fdfdfd;
                    border-radius: 5px 5px 0 0;
                    opacity: 0;
                    visibility: hidden;
                }
            }
        }
    }

    // .search-header__icon

    &__icon {
        height: 24px;
        width: 24px;

        @media screen and (max-width: 720px) {
            height: 30px;
            width: 30px;
            fill: $redColor;
        }

        // .search-header__icon_default

        &_default {
            position: absolute;
            top: 13px;
            left: 10px;
            z-index: 1;

            @media screen and (max-width: 720px) {
                display: none;
            }
        }

        // .search-header__icon_close

        &_close {
            position: absolute;
            top: 7px;
            left: 3px;
            display: none;
            z-index: 1;
            cursor: pointer;

            @media screen and (max-width: 720px) {
                width: 25px;
                height: 25px;
                display: block;
                fill: rgb(122, 122, 122);
            }
        }
    }

    // .search-header__item

    &__item {
        grid-area: SEARCH;
        position: relative;
        height: 50px;
        width: 800px;
        margin: 0px 0px 0px 20px;
        display: flex;
        transition: all 0.4s ease 0s;

        @media screen and (max-width: 1230px) {
            width: calc(350px + 450 * (100vw - 320px) / (1230 - 320));
        }

        @media screen and (max-width: 720px) {
            grid-area: auto;
            position: absolute;
            opacity: 0;
            visibility: hidden;
            margin: 0;
            width: calc(75vw - 60px);
            height: 40px;
            right: 45px;
            transform: scaleX(0);
            transform-origin: right center;

            &._active {
                opacity: 1;
                visibility: visible;
                // transform: translateY(0);
                transform: scaleX(1);
            }
        }

        @media screen and (max-width: 480px) {
            width: calc(100vw - 60px);
            right: 35px;
        }
    }

    // .search-header__input

    &__input {
        position: relative;
        font-size: 16px;
        width: 100%;
        padding: 0 0 0 45px;
        border-radius: 10px 0px 0px 10px;
        flex: 1 0;

        @media screen and (max-width: 720px) {
            padding: 0px 15px 0px 30px;
            border-radius: 5px 0px 0px 5px;
            box-shadow: 4px 10px 25px rgba(0, 0, 0, 0.3);
            font-size: 14px;
        }

        &::placeholder {
            color: #000;
        }
    }

    // .search-header__dropdown

    &__dropdown {
        position: absolute;
        transition: all 0.4s ease 0s;
        transform-origin: center top;
        transform: rotateX(90deg) translateY(-25px);
        opacity: 0;
        visibility: hidden;
        top: 50px;

        @media screen and (max-width: 720px) {
            right: 0;
            top: 35px;
        }
    }
}

.catalog {
    // .catalog__list

    &__list {
        width: 250px;
        padding: 10px 0px;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: #fff;
        box-shadow: -4px 10px 25px rgba(80, 25, 0, 0.2);
        transition: all 0.4s ease 0s;
        z-index: 3;
    }

    // .catalog__item

    &__item {
        width: 100%;
        padding: 7px 0;
        text-align: center;
        transition: background-color 0.3s ease 0s;

        &._hover {
            background-color: #fdba3c;

            & > .catalog__link {
                color: $redColor;
            }
        }

        // .catalog__item_level-1
        &_level-1 {
            &._hover {
                & > .catalog__sublist_level-1 {
                    // transform: translateX(0) rotateY(0);
                    opacity: 1;
                    visibility: visible;
                }
            }
        }

        // .catalog__item_level-2
        &_level-2 {
            &._hover {
                & > .catalog__sublist_level-2 {
                    // transform: translateX(0) rotateY(0);
                    opacity: 1;
                    visibility: visible;
                }
            }
        }

        // .catalog__item_level-3
        &_level-3 {
        }
    }

    // .catalog__link

    &__link {
        color: $mainFontColor;
        font-size: 17px;
        font-weight: 500;
        transition: color 0.5s ease 0s;

        @media screen and (max-width: 720px) {
            font-size: 16px;
        }

        &_main {
            font-weight: 700;
        }
    }

    // .catalog__sublist

    &__sublist {
        width: 250px;
        padding: 10px 0px;
        position: absolute;
        top: 0;
        left: 250px;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: #fff;
        opacity: 0;
        visibility: hidden;
        box-shadow: 4px 10px 25px rgba(80, 25, 0, 0.2);

        // .catalog__sublist_level-1

        &_level-1 {
            z-index: 2;

            @media screen and (max-width: 720px) {
                display: none;
            }
        }

        // .catalog__sublist_level-2

        &_level-2 {
            z-index: 1;

            @media screen and (max-width: 720px) {
                display: none;
            }
        }
    }

    .catalog {
        // .catalog__item

        &__item {
        }

        // .catalog__link

        &__link {
        }

        // .catalog__sublist

        &__sublist {
        }
    }
}
