.header {
    font-family: "Algerius", "arial";
}

.logo__icon {
    height: 80px;
    width: 41px;
    fill: rgb(212, 83, 83);
}

.search-form-header__icon {
    height: 24px;
    width: 24px;
}

.header__body {
    display: grid;
    grid-auto-flow: column;
}
